body{
    background-color: #f7f3e8;
    display: flex;    
    align-content: center;
    align-items: center;
    justify-content: center;
    margin-top: 5%;

}
.content{
    width: 50%;
    height: 80%;
    padding: 1%;
    gap: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;

    background-color: #c1eeff;
    border-radius: 3dvb;
    border-color: #242046;
    border-style:double ;
}
.Datos{
    width: 80%;
    height: 80%;
    gap: 40px;
    display: flex;
    flex-direction: row;
}
.ingresar{
        width:80%;
        height: 40%;
        padding: 3%;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        justify-content: center;
        background-color: #f7f3e8;
        border-radius: 5dvb;
        border-style:groove;
}
.resultado{
    background-color: #fffcfb;
}
h1{
    color: #242046 ;
}
p{
    color: #355691;
}
button{
    width: 150px;
    height: 50px;
    background-color: #4a6fa5;

    color: #242046;
    font-size: larger;
    font-family: 'Times New Roman', Times, serif;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media (max-width:480px) {
    body{
    background-color: #f7f3e8;
    display: flex;    
    align-content: center;
    align-items: center;
    justify-content: center;
    }
    .content{
        width: 80%;
        height: 100%;

        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        justify-content: center;

        background-color: #c1eeff;
        border-radius: 3dvb;
        border-color: #242046;
        border-style:double ;
    }
    .Datos{
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        align-content: center;
        justify-content: center;
    }
    .ingresar{
        width:80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        justify-content: center;
        background-color: #f7f3e8;
        border-radius: 5dvb;
        border-style:groove;
    }
    .resultado{
        background-color: #fffcfb;
    }
    input{
        width: 30%;
    }
    h1{
        color: #242046 ;
    }
    p{
        text-align: center;
        color: #355691;
    }
    button{
        width: 50%;
        height: 10%;
        background-color: #4a6fa5;

        color: #a4d4f4;
        font-size: larger;
        font-family: 'Times New Roman', Times, serif;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}
